@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Assessment 1</h1>
    <p>This web application consists of the first part of the Bitcube Evaluation assessments which consists of developing models for a simplified college scenario. The above navigation will allow you to view the different classes with pre-populated data.</p>
</div>
